.overflow-x-auto{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
}
.action{
    margin-left: 10%;
}
h2{
    text-align: center;
    font-size: 150%;
    margin-top: 7%;
    color: #0F1521;
}
.add{
    float:right;
    margin-right: 160px;
    font-weight: bold;
}


@media screen and (min-width:375px) and (max-width: 812px) {
    .overflow-x-auto{
        width: 340px;
        margin-top: 25%;
    }
    .add{
       float: right;
       margin-right: 80px;
    }
    .dash{
        margin-top: 35%;
    }
}
@media screen and (min-width:768px) and (max-width: 1024px) {
    .overflow-x-auto{
        width: 300px;
        margin-top: 25%;
    }
    .add{
       float: right;
       margin-right: 80px;
    }
    .dash{
        margin-top: 15%;
    }
}
a{
 margin-left: 20px;
}
.p-error{
    color: red; 
    font-size: small;
}