<app-navbar></app-navbar>
<!-- <app-alert></app-alert> -->
<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<app-modal></app-modal>
<div class="dash text-align-center">
         <h2>DASHBOARD</h2>
    </div>
    <div class="add">
    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"  (click)="openNew()" ></button>
  </div>
<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-black-500 dark:text-black-400">
    <thead
      class="text-xs text-gray-900 uppercase bg-gray-50 dark:bg-black-700 dark:text-black-400"
    >
      <tr>

        <th scope="col" class="py-3 px-6">Product Name</th>
        <th scope="col" class="py-3 px-6">Product Description</th>
        <th scope="col" class="py-3 px-6">Price</th>
        <th scope="col" class="py-3 px-6">Liters (L)</th>
        <th scope="col" class="py-3 px-6">Units</th>
        <th scope="col" class="py-3 px-6">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" *ngFor="let item of products; let i=index">
        <th
          scope="row"
          class="flex items-center py-4 px-6 text-gray-900 whitespace-nowrap dark:text-white"
        >
          <img
            class="w-10 h-10 rounded-full"
            src="./assets/showcase/images/paint.jpg"
            alt="plaster image"
          />
          <div class="pl">
            <div class="text-base font-semibold">{{item.productName}}</div>
          </div>
        </th>
        <td class="py-4 px-6">{{item.productDesc}}</td>
        <td class="py-4 px-6">{{item.Price}}</td> 
        <td class="py-4 px-6">
          <div class="flex items-center">
            <div class="text-base font-normal"></div>
            {{item.Liter}}
          </div>
        </td>
        <td class="py-4 px-6">
          <div class="flex items-center">
            <div class="text-base font-normal"></div>
            {{item.Unit}}
          </div>
        </td>
        <td class="py-4 px-6">
            <div class="flex items-center space-x-5">
              <!-- <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-warning" (click)="viewById(item)"></button> -->
                <button pButton pRipple icon="pi pi-edit" class="p-button-rounded p-button-blue" (click)="editProduct(item)" > 
                     <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
                </button>
                <button pButton pRipple icon="pi pi-trash" (click)="delete(item)" class="p-button-rounded p-button-danger" ></button>
            </div>
        </td>
      </tr>
    </tbody>
  </table>  
</div>

<!-- <p-dialog [(visible)]="productDialog" [style]="{width: '600px'}" header="Product" [modal]="true" styleClass="p-fluid">
  <form [formGroup]="Form">
    <div class="p-6 space-y-6">
      <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Name</label>
              <input type="text" [ngModel]="productList.productName" name="name" id="name" formControlName="product_name" [ngClass]="{'is-invalid': submitted && f['product_name'].errors}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Product Name" required>
            <div *ngIf="submitted && f['product_name'].errors"class="invalid-feedback">
            <div *ngIf="f['product_name'].errors['required']" style="color: red; font-size: small;"> product name is required</div>
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
              <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Description</label>
              <input type="text" [ngModel]="productList.productDesc" name="descrption" id="description"  formControlName="product_desc" [ngClass]="{'is-invalid': submitted && f['product_desc'].errors}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Product Description" required>
              <div *ngIf="submitted && f['product_desc'].errors"class="invalid-feedback">
                  <div *ngIf="f['product_desc'].errors['required']" style="color: red; font-size: small;"> product description is required</div>
              </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
              <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
              <input  type="text" [ngModel]="productList.Price" name="price" id="price" formControlName="Price" [ngClass]="{'is-invalid': submitted && f['Price'].errors}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="R 100" required>
              <div *ngIf="submitted && f['Price'].errors"class="invalid-feedback">
                  <div *ngIf="f['Price'].errors['required']" style="color: red; font-size: small;"> Price is required</div>
              </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
              <label for="units" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Measurements in Liters</label>
              <input  type="number" [ngModel]="productList.Liter" name="units" id="units" formControlName="Liters"  [ngClass]="{'is-invalid': submitted && f['Liters'].errors}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="1-25" required>
              <div *ngIf="submitted && f['Liters'].errors"class="invalid-feedback">
                  <div *ngIf="f['Liters'].errors['required']" style="color: red; font-size: small;"> Liters are required</div>
              </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
              <label for="units" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Number of Paints</label>
              <input  type="number" [ngModel]="productList.Unit" name="units" id="units" formControlName="Unit" [ngClass]="{'is-invalid': submitted && f['Unit'].errors}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="1-25" required>
              <div *ngIf="submitted && f['Unit'].errors"class="invalid-feedback">
                  <div *ngIf="f['Unit'].errors['required']" style="color: red; font-size: small;"> Units are required</div>
              </div>
          </div>
      </div>
    </div>
    <div class="float-right" >
      <a type="button" class="btn btn-danger-outline" (click)="hideDialog()"><i class="pi pi-times">Cancel</i></a>
      <a type="button" class="btn btn-secondary"(click)="saveData()" ><i class="pi pi-check">Save</i></a>
    </div>
  </form>  
</p-dialog> -->


<p-dialog [(visible)]="productDialog" [style]="{width: '600px'}" header="Product" [modal]="true" styleClass="p-fluid">
  
    <div class="p-6 space-y-6">
      <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Name</label>
              <input type="text" [(ngModel)]="productList.productName" name="name" id="name"  [ngClass]="{'is-invalid': submitted && f['product_name'].errors}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Product Name" required>
  
          </div>
          <div class="col-span-6 sm:col-span-3">
              <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Description</label>
              <input type="text" [(ngModel)]="productList.productDesc" name="descrption" id="description"   [ngClass]="{'is-invalid': submitted && f['product_desc'].errors}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Product Description" required>
              
          </div>
          <div class="col-span-6 sm:col-span-3">
              <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
              <input  type="text" [(ngModel)]="productList.Price" name="price" id="price"  [ngClass]="{'is-invalid': submitted && f['Price'].errors}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="R 100" required>
              
          </div>
          <div class="col-span-6 sm:col-span-3">
              <label for="units" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Measurements in Liters</label>
              <input  type="number" [(ngModel)]="productList.Liter" name="units" id="units"   [ngClass]="{'is-invalid': submitted && f['Liters'].errors}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="1-25" required>
              
          </div>
          <div class="col-span-6 sm:col-span-3">
              <label for="units" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Number of Paints</label>
              <input  type="number" [(ngModel)]="productList.Unit" name="units" id="units"  [ngClass]="{'is-invalid': submitted && f['Unit'].errors}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="1-25" required>
              
          </div>
      </div>
    </div>
    <div class="float-right" >
      <a type="button" class="btn btn-danger-outline" (click)="hideDialog()"><i class="pi pi-times">Cancel</i></a>
      <a type="button" class="btn btn-secondary"(click)="saveData()" ><i class="pi pi-check">Save</i></a>
    </div>
 
</p-dialog>