<app-navbar></app-navbar>
<div class="dash text-align-center">
         <h2>DASHBOARD</h2>
    </div>
    <div class="add">
      ADD PRODUCT
      <button class="inline-flex items-center p-1 text-sm font-medium text-#0F1521-500 bg-white rounded-full border border-#0F1521-300 focus:outline-none hover:bg-#0F1521-100 focus:ring-4 focus:ring-gray-200 dark:bg-#0F1521-800 dark:text-#0F1521-400 dark:border-#0F1521-600 dark:hover:bg-#0F1521-700 dark:hover:border-#0F1521-600 dark:focus:ring-#0F1521-700" type="button" data-modal-toggle="ProductModal" onsubmit="saveData()">
        <svg class="w-6 h-6"  fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
    </button>
  </div>
<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-black-500 dark:text-black-400">
    <thead
      class="text-xs text-gray-900 uppercase bg-gray-50 dark:bg-black-700 dark:text-black-400"
    >
      <tr>
        <th scope="col" class="py-3 px-6">Product Name</th>
        <th scope="col" class="py-3 px-6">Product Description</th>
        <th scope="col" class="py-3 px-6">Price</th>
        <th scope="col" class="py-3 px-6">Liters (L)</th>
        <th scope="col" class="py-3 px-6">Units</th>
        <th scope="col" class="py-3 px-6">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="flex items-center py-4 px-6 text-gray-900 whitespace-nowrap dark:text-white"
        >
          <img
            class="w-10 h-10 rounded-full"
            src="./assets/showcase/images/paint.jpg"
            alt="plaster image"
          />
          <div class="pl">
            <div class="text-base font-semibold">Plaster Primer</div>
          </div>
        </th>
        <td class="py-4 px-6">Exterior paint</td>
        <td class="py-4 px-6">R 450.00</td>
        <td class="py-4 px-6">
          <div class="flex items-center">
            <div class="text-base font-normal"></div>
            20
          </div>
        </td>
        <td class="py-4 px-6">
          <div class="flex items-center">
            <div class="text-base font-normal"></div>
            20
          </div>
        </td>
        <td class="py-4 px-6">
            <div class="flex items-center space-x-5">
              <button class="inline-flex items-center p-1 text-sm font-medium text-green-500 bg-white rounded-full border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button" data-modal-toggle="viewModal">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path></svg>
               </button>
                <button class="inline-flex items-center p-1 text-sm font-medium text-yellow-500 bg-white rounded-full border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button" data-modal-toggle="editModal">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
                </button>
                <button class="inline-flex items-center p-1 text-sm font-medium text-red-500 bg-white rounded-full border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button" data-modal-toggle="popup-modal">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                </button>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
  <app-modal></app-modal>
  
</div>
 