.overflow-x-auto{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
.action{
    margin-left: 10%;
}
h2{
    text-align: center;
    font-size: 150%;
    margin-top: 5%;
    color: #0F1521;
}
.add{
    float:right;
    margin-right: 160px;
    font-weight: bold;
}

@media screen and (min-width:320px) and (max-width: 480px) {
    .overflow-x-auto{
        width: 300px;
    }
    .add{
       float: right;
       margin-right: 100px;
    }
}
a{
 margin-left: 20px;
}