.p-4{
   margin: 10px;
}
.p-6{
    margin-left: 50px;
 }
.p-8{
    margin-top: 70;
   
}
.bg-white{
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
    
}
img{
   height: 100px;
   margin-left: 250px;
}
@media screen and (min-width:320px) and (max-width: 480px) {
    .p-4{
        margin: 15px;
        margin-top: 70px;
     }

     
}
